<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <title>Profil</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

    <div class="profile-card">

        <img src="https://via.placeholder.com/150" class="profile-photo">

        <h2 id="profileName">Nama User</h2>
        <p id="profileEmail">email@example.com</p>

        <p>Role: <strong id="roleText">PEMBELI</strong></p>

        <a id="roleBtn" href="buyer_dashboard.html" class="btn btn-primary">Menu Pembeli</a>

        <br><br>
        <a href="login.html" class="btn">Logout</a>
    </div>

    <script>
    let role = "buyer";

    if (role === "seller") {
        document.getElementById("roleText").textContent = "PENJUAL";
        document.getElementById("roleBtn").textContent = "Dashboard Penjual";
        document.getElementById("roleBtn").href = "seller_dashboard.html";
    }
    </script>

    </body>
</html>
