<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <title>Daftar</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

    <div class="auth-container">
        <h2>Daftar Akun</h2>

        <form class="auth-form">

            <input type="text" placeholder="Nama Lengkap" required>
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>

            <label>Pilih Peran:</label>
            <select required>
                <option value="buyer">Pembeli</option>
                <option value="seller">Penjual</option>
            </select>

            <button type="submit" class="btn btn-primary">Daftar</button>
        </form>

        <div class="auth-switch">
            Sudah punya akun? <a href="login.html">Login</a>
        </div>
    </div>

    </body>
</html>
