<!DOCTYPE html>
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard Penjual</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>

    <div class="profile-card">

        <h2>Dashboard Penjual</h2>

        <p>Kelola produk, statistik dan manajemen toko Anda.</p>

        <a href="upload.html" class="btn btn-primary">Upload Produk</a>

        <br><br>
        <a href="profile.html" class="btn">Kembali ke Profil</a>
    </div>

    </body>
</html>